<div class="container">
    <h1>CONNEXION</h1>
    <form class="col-4" [formGroup]="connexionForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="emailInput" class="form-label">email</label>
            <input 
                type="email" 
                id="emailInput" 
                placeholder="monemail@domaine.com " 
                formControlName="email"
                class="form-control" 
                aria-label="email"
                name="email"
                formControlName="email"
                ngModel
                />
        </div>
        <div class="mb-3">
            <label for="passwordInput" class="form-label">Mot de passe</label>
            <input 
                type="password"
                id="passwordInput"  
                placeholder="Mot de passe" 
                formControlName="password"
                class="form-control" 
                aria-label="password"
                name="password"
                formControlName="password"
                ngModel
                />
                <div class="invalid-feedback" *ngIf="connexionForm.get('password')?.touched && connexionForm.get('password')?.invalid"></div>
        </div>  le mot de passe ne peut etre vide
        <div class="mb-3" class="text-center">
            <button type="submit" class="btn btn-primary">Connectez-vous</button>   
        </div>
        <div class="text-center mt-3">
            <p>pas encore inscrit?
                <a routerLink="/" class="link-info">Iscrivez-vous</a>
            </p>
        </div>
        
    </form>

    
</div>


